@{
    ViewBag.Title = "Page to Enter Movies!";
}

@model Assignment3.Models.EnterMovie

<form asp-action="EnterMovie" method="post">

    <div>
        <label asp-for="Category">Category:</label>
        <input asp-for="Category"/>
    </div>
    <br />
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title"/>
    </div>
    <br />
    <div>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year"/>
    </div>
    <br />
    <div>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director"/>
    </div>
    <br />
    <div>
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="">Select One</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>

        </select>
    </div>
    <br />
    <div>
        <label asp-for="Edited">Was it edited?:</label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    
    </div>
    <br />
    <div>
        <label asp-for="LentTo">Lent to:</label>
        <input asp-for="LentTo"/>
    </div>
    <br />
    <div>
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes"/>
    </div>
    <br />

    <button type="submit">Submit</button>


</form>